/**
 * @file
 * Subtheme specific CSS.
 */
/* Override Bootstrap Barrio main container styles */
#main {
    padding-left: 0px;
    padding-right: 0px;
}
/* Override Bootstrap Barrio main content styles */
#main {
    margin-top: 0px;
}

/* Override Bootstrap Barrio icons */
a.nav-link--::before {
    background-image: none;
    width: 0px;
}
a.nav-link--user-logout::before {
    background-image: none;
    width: 0px;
}
a.nav-link--contact::before {
    background-image: none;
    width: 0px;
}
/* Override Bootstrap Barrio table styles */
table {
    font-size: inherit;
}
table tr {
    background-color: rgba(0, 0, 0, 0);
}
table.table tr td {
    border-left: none;
    border-right: none;
}

table.table tr th {
    background-color: rgba(0, 0, 0, 0);
    color: #333;
    border: none;
}
.page-item.active .page-link {
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7;
}
.pagination > li > a,
.pagination > li > span {
    color: #337ab7;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
    color: #23527c;
}

h2 .block-title {
    margin-top: 20px;
}

label {
    font-weight: 700;
}

label[class$="-label"] {
    font-weight: 400;
}

input.form-submit {
    width: auto;
}
section.region-secondary-menu {
    margin-left: 0px;
    margin-right: 0px;
}
/* Remove border from Bootstrap Barrio sidebar block */
.sidebar .block {
    border: none;
    padding-top: 0px;
}

/* Override Bootstrap Barrio sidebar_first styles */
#sidebar_first {
    padding-top: 0px;
    padding-right: 15px;
    margin: 0.6em 0;
}

#sidebar_first .nav-link {
    padding: .5rem 1rem;
}

/* Make drag handle and changed symbol appear correctly */
abbr[data-original-title], abbr[title] {
    margin-left: 10px;
}

.js .field--widget-entity-reference-paragraphs .tabledrag-handle .handle,
.js .field--widget-paragraphs .tabledrag-handle .handle {
    height: 22px;
    width: 20px;
}

#node-dataset-edit-form .card {
    margin-bottom: 20px;
}

.card-body .card-header h2, .card-body h4.label {
    color: #333;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
}

.navbar-nav > section {
    flex-direction: column;
}

.address-container-inline fieldset {
    display: inline-block;
    margin-right: 1em;
}

.form-group {
    margin-bottom: 15px;
}
#filter-by-section-form details .details-wrapper {
    display: block !important;
}
form .card {
    border: none;
}
form .card .card-header {
    border-bottom: 1px solid #e5e5e5;
    padding: 0;
    margin-bottom: 5px;
}
form .card .card-header h2 {
    color: #333;
    font-size: 21px;
}
form .card .card-body {
    padding: 0;
}
form label.form-required:after, form h2.form-required:after {
     content: "(Required)";
     width: auto;
     height: auto;
     margin: 0 0.3em;
     color: black;
     font-weight: normal;
     font-size: 16px;
     vertical-align: initial;
     background-image: none;
     display: inline-block;
     line-height: 1;
     color: #333;
}
header .logo {
    background: url("../img/nrel-logo-web.svg") no-repeat center;
}
@media (min-width: 768px) {
    header .logo {
        /* background: url("{{f:75212}}") no-repeat left; */
        background: url("../img/nrel-logo-web.svg") no-repeat left;
    }
}

/* Fix side-effects introduced by styling for media - https://www.drupal.org/project/bootstrap_barrio/issues/3296223 */
.form-actions {
    position: initial;
    bottom: 0;
    background: none;
    padding: initial;
}
.js-form-item {
    margin: initial;
}
form .form-type-textarea {
    margin-bottom: 15px;
}

/**
 * @file
 * Visual styles for fields.
 */

 .field--label {
  font-weight: bold;
}
.field--label-inline .field--label,
.field--label-inline .field--items {
  float: left; /*LTR*/
}
.field--label-inline .field--label,
.field--label-inline > .field--item,
.field--label-inline .field--items {
  padding-right: 0.5em;
}
[dir="rtl"] .field--label-inline .field--label,
[dir="rtl"] .field--label-inline .field--items {
  padding-left: 0.5em;
  padding-right: 0;
  float: right; /*RTL*/
}
.field--label-inline .field--label::after {
  content: ':';
}
.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333333;
  white-space: nowrap;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #262626;
  text-decoration: none;
  background-color: #f5f5f5;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #fff;
  text-decoration: none;
  background-color: #337ab7;
  outline: 0;
}

/* Override Bootstrap Barrio nav */
.nav-pills > li.active > a {
    color: #fff;
    background-color: #0079c2;
}
.nav-tabs > li {
    margin-bottom: -2px;
}
.nav-tabs > li:has(> a.active) {
    border-bottom: 1px solid #fff;
}
.nav-tabs li > a {
    line-height: 1.42857143;
    border-radius: 7px 7px 0 0;
    margin-right: 0;
}
nav-tabs li > a.active {
    color: #555555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}
nav-tabs li > a:hover {
    text-decoration: none;
}
.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}