// @todo these should be their own CSS files and only included when
// specific Drupal libraries are used.
@import "component/alert";
@import "component/ajax";
@import "component/field";
@import "component/file";
@import "component/filter";
@import "component/form";
@import "component/icon";
@import "component/navbar";
@import "component/node";
@import "component/panel";
@import "component/progress-bar";
@import "component/table-drag";
@import "component/tabs";
@import "component/toolbar";

// jQuery UI style overrides.
@import "jquery-ui/autocomplete";

ol, ul {
  padding-left: 1.5em;
  .popover &:last-child {
    margin-bottom: 0;
  }
}

header .logo {
  background-image: none;
  display: block;
  float: none;
  margin-left: auto;
  margin-right: auto;
  @media (max-width: 480px) {

  }
  @media (min-width: 480px) and (max-width: 768px) {

  }
  @media (max-width: 768px) {
  }
  @media (min-width: 768px) {
    float: right;
  }
}
@media (min-width: 768px) {
  .banner-logo {
    min-height:92px;
  }
}

@media (min-width: 768px) {
  header .navbar-collapse,
  header .navbar-form  {
    padding-left: 15px;
    padding-right: 15px;
  }
}

// Page header.
.page-header {
  margin-top: 0;
}

// Help region.
.region-help {
  > .glyphicon {
    font-size: @font-size-large;
    float: left;
    margin: -0.05em 0.5em 0 0;
  }
  .block {
    overflow: hidden;
  }
}

img {
  max-width: 100%;
}

.help-block, .control-group .help-inline {
  color: @gray-light;
  font-size: 12px;
  margin: 5px 0 10px;
  padding: 0;
  &:first-child {
    margin-top: 0;
  }
}
